@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,700;1,400&family=Inter:wght@300;400;600&display=swap');
@import "tailwindcss";

@theme {
    --color-night: #00076C;
    --color-day: #FEF1D0;

    --font-serif: "Playfair Display", serif;
    --font-sans: "Inter", sans-serif;

    --animate-float: float 6s ease-in-out infinite;

    @keyframes float {

        0%,
        100% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-20px);
        }
    }
}

@layer base {
    body {
        @apply bg-night text-day font-sans antialiased overflow-x-hidden selection:bg-day selection:text-night;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        @apply font-serif;
    }
}